.rollito_animado {
  position: fixed;
  bottom: 30px;
  right: 250px;
  width: 60px;
  z-index: 1001;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
}

/* Fuera de pantalla */
.rollito_animado.sale {
  transform: translateX(80px);
  opacity: 0;
}

/* Entra justo antes del Toast */
.rollito_animado.entra {
  transform: translateX(-80px);
  opacity: 1;
}

/* Se queda saludando */
.rollito_animado.saluda {
  transform: translateX(-80px);
  opacity: 1;
}


.saludo {
  position: absolute;
  top: 10px;
  right: 46px;
  font-size: .9rem;
  animation: saludar 0.3s infinite alternate;
  transform-origin: bottom center;
}

@keyframes saludar {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(30deg);
  }
}
